.cell {
  width: 50px;
  height: 50px;
  border-color: #c0c2cc;
  border-width: 2px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover {
  background-color: gray;
}
