.piece-queue-container {
  width: 250px;
}

.piece-queue {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  padding: 2px;
  height: 100%;
}

.preview-cell {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
